<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">g2gtools {{version}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Please select a tool
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">bam2ec</a>
                    <a class="dropdown-item disabled" href="#">bam2emase</a>
                    <a class="dropdown-item" href="/bam2both">bam2both</a>
                    <a class="dropdown-item disabled" href="#">emase2db</a>
                    <a class="dropdown-item disabled" href="#">merge</a>
                    <a class="dropdown-item disabled" href="#">split</a>
                </div>
            </li>
        </ul>
     </div>
</nav>
